---
import { Icon } from "astro-icon/components";

import "../styles/Icon.scss";

export interface IconProps {
  icon: string;
  label: string;
  ariaLabel: string;
  className: string;
}

export interface Props {
  heading: string;
  icons: IconProps[];
}

const { heading, icons } = Astro.props as Props;
---

<p class="text-4xl font-normal mt-[1.25rem]" aria-label="skill-icon">{heading}</p>
<div class="flex flex-wrap items-center xl:items-end justify-center xl:justify-end gap-[1rem] mt-[1.25rem]">
  {
    icons.map(({ icon, label, ariaLabel, className }: IconProps) => {
      return (
        <div class="flex flex-col items-center justify-center cursor-pointer hover:drop-shadow-lg">
          <div class={`p-[0.5rem] border-none rounded-md ${className}`}>
            <Icon
              name={icon}
              class="text-white p-[0.375rem]"
              aria-label={ariaLabel}
              width="48"
              height="48"
            />
          </div>
          <p class={`text-xs font-medium mt-[0.25rem]`}>{label}</p>
        </div>
      );
    })
  }
</div>
