---
import { Icon } from "astro-icon";

import "../styles/Icon.scss";

export interface IconProps {
  icon: string;
  label: string;
  ariaLabel: string;
  className: string;
}

export interface Props {
  heading: string;
  icons: IconProps[];
}

const { heading, icons } = Astro.props as Props;
---

<p class="text-4xl font-normal mt-5" aria-label="skill-icon">{heading}</p>
<div class="flex flex-wrap items-center xl:items-end justify-center gap-4 mt-5">
  {
    icons.map(({ icon, label, ariaLabel, className }: IconProps) => {
      return (
        <div class="flex flex-col items-center justify-center">
          <div class={`p-2 border-none rounded-md ${className}`}>
            <Icon
              name={icon}
              class="text-white p-1.5"
              aria-label={ariaLabel}
              width="48"
              height="48"
            />
          </div>
          <p class={`text-xs font-normal mt-1`}>{label}</p>
        </div>
      );
    })
  }
</div>
